.product-card {
  background-color: white;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

button {
  background-color: #ff66b2;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #f7c6d3;
}
